.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.nav-items {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

nav img {
  height: 20px;
  margin: 8px;
}
